[user]
	name = Andrew DeOrio
	signingkey = BB6201BA07530070
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = emacs
	excludesfile = /Users/awdeorio/.gitignore_global
[alias]
  graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold blue)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  logdoga = log --decorate --oneline --graph --all
  s = status
  d = diff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
